.waterfall {
	display: flex;
}

.waterfall-column {
	margin-right: 20px;
	width: calc(100% / 3 - 20px);
}

.waterfall-item {
	margin-bottom: 20px;
	break-inside: avoid;
}

.waterfall-item img {
	width: 100%;
	height: auto;
}