.zhouyi {
	padding: 12px;
}

.cnt{
	height: 120px;
	margin-top: 15px;
}

.hexContent {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.hex {
	width: 100%;
}

.in-hex {
	margin-top: 20px;
	width: 100%;
}

.title {
	margin-bottom: 6px;
	text-align: center;
	font-size: 18px;
}

.content {
	width: 45%;
	margin: auto;
	height: 160px;
	display: flex;
	flex-direction: column;
	/* border: 1px solid black; */
}

.hex-item {
	height: 10px;
	margin-bottom: 10px;
}

.yang{
	background-color: black;
}

.yin{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.yin-item{
	height: 100%;
	width: 45%;
	background-color: black;
}
