.calculator {
	height: 100vh;
	background-color: #f4f4f4;
}

.bottom {
	position: fixed;
	bottom: 0px;
	width: calc(100vw - 20px);
	padding: 0px 10px;
}

.num {
	word-wrap: break-word;
	text-align: right;
	font-size: 26px;
}

.res {
	margin-top: 20px;
	text-align: right;
	font-size: 18px;
	color: #666;
}

.actions {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding: 10px 0;
	width: 100%;
}

.list {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.list:first-child {
	margin-top: 0px;
}

.item {
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: white;
	color: black;
	font-size: 20px;
}

.operator {
	background-color: #e8e8e9;
}

.equal {
	background-color: #e9754a;
	color: white;
}