.scroll-tab-wapper{
	position: sticky;
	top: 0;
	left: 0;
}
.scroll-tab {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;
	width: 100%;
	height: 65px;
	line-height: 65px;
	/* border-bottom: 1px solid red; */
	z-index: 999;
	background-color: #f3f3f8;
}

.scroll-content{
	/* position: relative; */
}

.scroll-tab-item {
	position: relative;
	height: 100%;
	text-align: center;
	cursor: pointer;
}

.scroll-item {
	margin: 20px 0px;
	border: 1px solid #ccc;
}

.scroll-item:first-child {
	margin-top: 0px;
}

.active::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	height: 0px;
	width: 75%;
	border-bottom: 1px solid blue;
}